/* Sidebar ------------------------------------------------------*/
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #B0C4DE;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

.sidebar-visible {
    transform: translateX(0);
}

.sidebar-hidden {
    transform: translateX(-100%);
}
.sidebar h2,
.sidebar h3 {
    margin-top: 0;
    font-size: 19px;
    width: 130px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background-color: #E0F2F7;
    color:#4F5C6C;
}

.sidebar li:hover {
    background-color: #b0b9db;
}

.sidebar li.active {
    background-color: #6495ED;
    color:white !important
    
}

.add-chat {
    cursor: pointer;
    color: #4F5C6C;     /*Color letras añadir chat*/
    margin-top: 10px;
    background-color: white!important;
    border: 1px solid #5d8edb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-chat:hover {
    text-decoration: none;
}
/* Chat ---------------------------------------------------------*/
.chat-layout {
    display: flex;
    height: 97vh;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #E0F2F7;      /*Exterior al chat*/
    height: 92vh;
}
.typing-indicator {
    font-style: italic;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    padding-left: 10px;
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
.messages-box {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    background: #ffffff;    /*Fondo del chat*/
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #6495ED;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    word-break: break-word;
}

.user-message {
    background-color: #B0C4DE;  /*Color del mensaje ingresado por el usuario*/
    align-self: flex-end;
    text-align: right;
    border-top-right-radius: 0;
    
}

.bot-message {
    background-color: #EAF0F4;  /*Color chat de la respuesta*/
    align-self: flex-start;
    text-align: left;
    border-top-left-radius: 0;
}
.input-group {
    display: flex;
    gap: 10px;
}

.form-control {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6495ED;

}

.boton-enviar {
    background-color: #6495ED;  /*Boton enviar*/
    color: white;           /*Color texto boton chat*/
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #5d8edb;
}

/* Botones y toggle */


.hamburger-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    color: #4F5C6C !important;    /*Color icono 3 rayitas*/
}

.hamburger-btn:hover {
    color: #70a1ff;
}

/* Otros --------------------------------------------------------*/
.titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    background: linear-gradient(to right, #2F4F6F, #1cafd4);    /*Color título chat*/
    background-clip:white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    text-align: center;
}